/* the styles for the elements */
*,
*::before,
*::after{box-sizing:border-box;}

html {
    background-color: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 600px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

h1, h2, h3, h4, h5, h6, p {margin:0; padding: 0;}

/* header */

header {    
    display: flex;
    padding: 1.5rem 0;
    border-bottom: 3px solid #931420;
    background-image: linear-gradient(30deg, #f6bb73 0%, white 40%, white 60% , #f6bb73 100%);
}

.logo-img {
    width: 80px;
    margin: 0 30px;
}

header h1 {
    color: #800000;
    margin: 0;
    font-size: 1.8rem;
}

header h3 {
    font-style: italic;
    margin: 0;
}
.text-shadow {
    text-shadow: 1px 2px 1px #800000;
}

/* the styles for the main */

main {
    padding: 0 30px;
}

main article h3 {
    font-size: 130%;
    color: #800000;
    margin: 0.5em 0;
}

.ticket ul {
    padding-left: 1.25em;
}
.quote {
    font-style: italic;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
}

/* nav */

.guest-speakers-list {
    padding-left:0;
}

.guest-speakers-title {
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
    line-height: 2rem;
}

.guest-profile {
    list-style: none;
    font-weight: bold;
}

.guest-profile-link {
    display: block;
    font-weight: bold;
}

.guest-profile-img {
    padding: 0.5em 0 1em;
}
/* the styles for the footer */

footer {
    background-color: #931420;
}

.copyright {
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
